#dealership .rwmb-meta-box > .rwmb-group-wrapper > .rwmb-label{
    clear: both;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #9c9c9c;
}

#dealership .rwmb-meta-box > .rwmb-group-wrapper{
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 8px -3px;
}

label{
    cursor: default !important;
}

#dealership .rwmb-label ~ .rwmb-input{
    width: 100% !important;
}

#dealership .employees > .rwmb-label{
    margin-bottom: 15px;
    font-size: 1.2em;
}

#dealership .employees .rwmb-field{
    padding: 0 0 15px 0;
}
